<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h1>Transactions page</h1>
			<h2>Create Stripe Payments</h2>
			
			<div id="success-alert" class="alert alert-success" style="display:none"></div>
			<div id="danger-alert" class="alert alert-danger" style="display:none"></div>
			
			<form role="form" method="post" id="payment-form">
				<input type="hidden" name="token" id="token" value="<%=token%>">
				<div class="form-group">
					<label for="amount">Amount in cents:</label>
					<input type="number" class="form-control" name="amount" id="amount" value="10" >
				</div>
				<div class="form-group">
					<label for="currency">Currency: </label>
					<input type="text" class="form-control" name="currency" id="currency" value="USD">
				</div>
				<%if (hasCard) { %>
				<div class="form-group">
					<strong>Using exisiting card</strong>
					<input type="hidden" id="use_saved_card" value="1" >
				</div>
				<% }else{ %>
				<div class="form-group">
					<strong id="use-existing-msg" style="display:none">Using exisiting card</strong>
					<input type="hidden" id="use_saved_card" value="0" >
				</div>
				<div id="card-details">
					<div class="form-group">
						<label for="cardnumber">Card number </label>
						<input type="text" class="form-control" name="customerid" id="cardnumber" class="card-number" value="4242424242424242">
					</div>
					<div class="form-group">
						<label for="cvc">CVC: </label>
						<input type="number" class="form-control" name="cvc" id="cvc" class="card-cvc" value="239">
					</div>
					<div class="form-group">
						<label for="card-expiry-month">Expired Month: </label>
						<input type="number" class="form-control" name="card-expiry-month" id="card-expiry-month" class="card-expiry-month" value="03">
					</div>
					<div class="form-group">
						<label for="card-expiry-year">Expired Year: </label>
						<input type="number" class="form-control" name="card-expiry-year" id="card-expiry-year" class="card-expiry-year" value="2016">
					</div>
				</div>
				<% } %>
				<p id="payment-errors"></p>
				<p id="card-save-errors"></p>
				<input type="button" class="btn btn-default" id="submittransaction" value="Submit">
			</form>
		</div>
	</div>
</div>

